@media screen and (max-width: 600px) {
    .main {
        padding: 15px 20px;
    }
}

.div {
    display: block;
}

.resume {
    height: 100vh;
    padding: 0 40px;
    margin-top: 50px;
}

.contact {
    padding: 0 40px;
    margin: 50px;
}

p {
    margin-bottom: 25px;
}

.about a {
    color: #111;
    padding: 0;
    text-decoration: none;
    background-image: linear-gradient( transparent 0%, transparent calc(50% - 8px), #FA7268 calc(50% - 8px), rgb(254, 147, 140) 100%);
    transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
    background-size: 100% 200%;
    background-position: 0 0;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

.about a:hover {
    padding: 2px 0 4px 0;
    background-image: linear-gradient( transparent 0%, transparent calc(50% - 8px), rgb(254, 147, 140) calc(50% - 8px), #FA7268 100%);
    background-position: 0 100%;
}

.container {}


/*-------------------Navigation-------------------*/

.nav-wrapper li {
    color: black;
}

.intro {
    height: 100vh;
    z-index: 5;
}


/*------------BUTTON TOP-----------------*/

.buttontop {
    position: fixed;
    font-size: 40px;
    bottom: .1%;
    right: .8%;
    color: black !important;
    font-weight: 800;
    z-index: 10;
    opacity: 0.5;
}

.buttontop i:hover {
    color: #FA7268;
}

.top {
    font-size: .3em;
    text-align: center;
}


/*----border-----*/


/*-------ABOUT-----------*/

.maskedobject {
    mask: url(https://svgshare.com/i/EAi.svg);
    -webkit-mask: url(https://svgshare.com/i/EAi.svg);
    -webkit-mask-size: cover;
    text-align: center;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

section {
    min-height: 100vh;
    padding: 40px 60px;
}


/*-------SKILLS-----------*/

.logo {
    max-height: 50px;
    margin-top: 25px;
}

.rectangle {
    max-height: 60px;
}


/*--------WORKSAMPLE CARDS----------*/

.row {
    width: 100%;
}

.card {
    border: 6px solid black;
}


/*--------CONTACT----------*/

.socialmedia,
.far,
.fab {
    font-size: 30px;
}

.contact {
    text-align: center;
}

.contact a {
    padding: 10px;
    color: #FA7268;
}

.contact a:hover {
    padding: 10px;
    color: orangered;
}


/* --------ARTWORK-------- */

.workcontainer {
    justify-content: center;
}

.dadpranks h4 {
    padding: 40px;
}

.artworkembed {
    max-width: 100%;
    text-align: center;
}

.sectioncolumn {
    flex-direction: column;
}

.sectioncolumn h2 {
    text-align: left;
}

.sectionheader {
    display: flex;
    justify-content: space-between;
}