.about {
    height: 100vh;
    padding: 35px 80px;
}

.resume {
    height: 100vh;
    padding: 40px;
}

.webdesign {
    height: 100vh;
    padding: 40px;
}

.art {
    height: 100vh;
    padding: 40px;
    margin-bottom: 25px;
}

.contact {
    height: 100vh;
    padding: 40px;
}


/*-------------------Navigation-------------------*/

.nav-wrapper li {
    color: slateblue;
}


/*--------WORKSAMPLE CARDS----------*/

.row {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row,
.row>.card {
    padding: 8px;
}

@media screen and (max-width: 900px) {
    .row {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .row {
        width: 100%;
    }
}


/*--------ART CARDS----------*/

.aaart {}

.socialmedia,
.far .fab {
    font-size: 30px;
}